In [1]:
import sys

In [2]:
print(sys.version)

3.7.10 (default, Feb 26 2021, 13:06:18) [MSC v.1916 64 bit (AMD64)]

In [3]:
import platform

In [4]:
platform.python_version()

'3.7.10'

In [5]:
# A Hello World Example
print('Hello World')

Hello World

In [6]:
3+5

8

In [7]:
8*4

32

### Variables and Assignment

A variable can be assigned or bound to any value. Some of the characteristics of binding a variable in Python are listed here:

In [8]:
x=3      # x is the  variable refers to the memory location of the assigned value.

In [9]:
type(x)

int

In [10]:
y=2.1     #y is the variable appears on the left, while the value 2.1 appears on the right.

In [11]:
type(y)

float

In [12]:
z='test'

In [13]:
type(z)   #The data type of the assigned value and the variable is the same.

str

### Variables and Assignment Example

Let us look at an example of how you can assign a value to a variable, and print it and its data type.

In [14]:
first_string_variable = 'test'
first_integer_variable = 123        #Assignment

In [15]:
print (first_string_variable)
print (first_integer_variable)       #Variable data value

test
123

In [16]:
type (first_string_variable)
type (first_integer_variable)      #Data type of the object

int

### Multiple Assignments

Can access a variable only if it is defined. Can define multiple variables simultaneously.

In [17]:
number_example    #Access variable without assignment

NameError: name 'number_example' is not defined

In [18]:
number_example = 2   #Access variable after assignment

In [19]:
number_example

2

In [20]:
integer_x, integer_y = 5,22    #Multiple assignments

In [21]:
integer_x

5

In [22]:
integer_y

22

### Assignment and Reference

When a variable is assigned a value, it refers to the value’s memory location or address. It does not equal the value itself.

In [23]:
x = 3

In [24]:
x

3

In [25]:
x = 3
x = x+1

In [26]:
print(x)

4

## Basic Data Types: Integer and Float

Python supports various data types. There are two main numeric data types:

In [27]:
int_number = 7/2
int_number

3.5

In [28]:
float_number = 7.4/3
float_number

2.466666666666667

## Basic Data Types: String

Python has extremely powerful and flexible built-in string processing capabilities.

In [29]:
string_one = 'first string'    #With single quote
string_two = "second string"     #With double quote
string_third = """third string"""    #Three double quotes

In [30]:
print (string_one)
print (string_two)
print (string_third)

first string
second string
third string

## Basic Data Types: None and Boolean

Python also supports the None and Boolean data types.

In [31]:
num_x = None       #Null value type
num_x is None

True

In [32]:
num_x = 20
num_x is None

False

## Type Casting

Can change the data type of a number using type casting.

In [33]:
float_number = 2.54678    #Float number

In [34]:
float_number

2.54678

In [35]:
int(float_number)     #Type cast to integer

2

In [36]:
str(float_number)      #Type cast to string value

'2.54678'

## Data Structure: Tuple

A tuple is a one-dimensional, immutable ordered sequence of items which can be of mixed data types.

In [37]:
first_tuple = (12,'Jack',45.6,'new',(3,2),'test')     #Create a tuple

In [38]:
first_tuple     #View tuple

(12, 'Jack', 45.6, 'new', (3, 2), 'test')

In [39]:
first_tuple[1]    #Access the data at index value 1

'Jack'

In [40]:
first_tuple[1] = 'Mark'    #Try to modify the tuple

TypeError: 'tuple' object does not support item assignment

### Data Structure: Accessing Tuples

You can access a tuple using indices.

In [41]:
first_tuple = (12,'Jack',45.6,'new',(3,2),'test')     #Tuple

In [42]:
#Accessing elements using a positive index
#The index count start from the left, with the first index being 0
first_tuple[2]

45.6

In [43]:
#Accessing elements using a negative index
#The index count start from the left, with the first index being -1
first_tuple[-3]

'new'

### Data Structure: Slicing Tuples

Can also slice a range of elements by specifying the start and end indices of the desired range.

In [44]:
first_tuple = (12,'Jack',45.6,'new',(3,2),'test')     #Tuple

In [45]:
#Creating a subset/slice of the tuple
#Specify the indices of the elements, separated by a colon
#The first index is inclusive; the second index is exclusive
first_tuple[1:4]

('Jack', 45.6, 'new')

In [46]:
#Can use negative indices as well to slice a tuple
#Count from the right, starting from -1, to specify the  correct index
first_tuple[1:-1]

('Jack', 45.6, 'new', (3, 2))

## Data Structure: List

A list is a one-dimensional, mutable ordered sequence of items which can be of mixed data types.

In [56]:
first_list = ['Mark',101,23.6,'test',None,11]     #Create a list

In [57]:
first_list    #View a list

['Mark', 101, 23.6, 'test', None, 11]

In [58]:
first_list.append('Jack')     #Modify a list: Add new items

In [59]:
first_list

['Mark', 101, 23.6, 'test', None, 11, 'Jack']

In [60]:
first_list.remove('Mark')    #Modify a list: Remove items

In [61]:
first_list

[101, 23.6, 'test', None, 11, 'Jack']

In [62]:
first_list.pop(2)     #Access and remove list data using element indices

'test'

In [63]:
first_list.insert(1,'Smith')       #Modify a list: Insert a new item at a certain index

In [64]:
first_list

[101, 'Smith', 23.6, None, 11, 'Jack']

### Data Structure: Accessing Lists

In [65]:
first_list

[101, 'Smith', 23.6, None, 11, 'Jack']

In [66]:
#Accessing elements using a positive index
#The index count start from the left, with the first index being 0
first_list[2]

23.6

In [67]:
#Accessing elements using a negative index
#The index count start from the right, with the first index being -1
first_list[-2]

11

### Data Structure: Slicing Lists

In [68]:
first_list

[101, 'Smith', 23.6, None, 11, 'Jack']

In [69]:
#creating a subset/slice of the tuple
#Specify the indices of the elements, separated by a colon
#The first index is inclusive; the second index is exclusive
first_list[1:4]    #Count starts with the first index, but stops before the second index

['Smith', 23.6, None]

In [70]:
#Can use negative indices as well to slice a tuple
#COunt from the right, starting from -1, to specify the correct index
first_list[1:-1]      #Even for negative indices, the count stops before the second index

['Smith', 23.6, None, 11]

# Data Structure: Dictionary (dict)

In [71]:
first_dict = {'John':'john@abc.com','Kelly':'kelly@xyz.com','id':[23,81]}    #Create a dictionary

In [72]:
first_dict

{'John': 'john@abc.com', 'Kelly': 'kelly@xyz.com', 'id': [23, 81]}

In [74]:
first_dict.keys()     #View only keys

dict_keys(['John', 'Kelly', 'id'])

In [75]:
first_dict.values()       #View only values

dict_values(['john@abc.com', 'kelly@xyz.com', [23, 81]])

### Data Structure: Access and Modify dict Elements

Can also access and modify individual elements in a dict.

In [76]:
first_dict['Kelly']

'kelly@xyz.com'

In [77]:
first_dict['id']

[23, 81]

In [78]:
first_dict.update({'id':[32,55]})      #Modify dictionary: update

In [79]:
first_dict

{'John': 'john@abc.com', 'Kelly': 'kelly@xyz.com', 'id': [32, 55]}

In [80]:
del first_dict['id']      #Modify dictionary: delete

In [81]:
first_dict

{'John': 'john@abc.com', 'Kelly': 'kelly@xyz.com'}

## Data Structure: Set

A set is an unordered collection of unique elements.

In [82]:
auto_survey = set(['Audi','BMW','BMW','Ferrari','GM','Mercedes','Cheverolet','GM'])      #Create a set

In [83]:
auto_survey

{'Audi', 'BMW', 'Cheverolet', 'Ferrari', 'GM', 'Mercedes'}

In [85]:
auto_survey_set = {'Audi','BMW','BMW','Ferrari','GM','Mercedes','Cheverolet','GM'}      #Create a set

In [86]:
type(auto_survey_set)

set

In [87]:
auto_survey_set

{'Audi', 'BMW', 'Cheverolet', 'Ferrari', 'GM', 'Mercedes'}

### Data Structure: Set Operations

Let us look at some basic set operations.

In [88]:
auto_survey_1 = set(['Audi','BMW','BMW','Ferrari','GM','Mercedes','Cheverolet','GM'])      #Create a set
auto_survey_2 = set(['BMW','Ferrari','GM','Hundai','Kia','Cheverolet','GM','Ford','Toyota','Zen'])

In [89]:
combined_survey_report = auto_survey_1 | auto_survey_2      #OR – Union set operation

In [90]:
combined_survey_report

{'Audi',
 'BMW',
 'Cheverolet',
 'Ferrari',
 'Ford',
 'GM',
 'Hundai',
 'Kia',
 'Mercedes',
 'Toyota',
 'Zen'}

In [91]:
common_survey_report = auto_survey_1 & auto_survey_2     #AND – Intersection set operation

In [92]:
common_survey_report

{'BMW', 'Cheverolet', 'Ferrari', 'GM'}

## Basic Operator: in

The 'in' operator is used to generate a Boolean value to indicate whether a given value is present in the container or not.

In [93]:
student_list = ['Tom','Jack','Nick','Sarah','Nicole']         #Create a list

In [94]:
'Nick' in student_list      #Test presence of string with in operator

True

In [95]:
'Mark' in student_list         #Test presence of string with in operator

False

In [96]:
word = 'encyclopedia'      #Create a string

In [97]:
't' in word

False

In [98]:
'i' in word

True

### Basic Operator: +

The plus operator produces a new tuple, list, or string whose value is the concatenation of its arguments.

In [99]:
test_score_1 = (68,96,71)
test_score_2 = (92,87,83)            #Create tuples

In [100]:
test_score = test_score_1 + test_score_2       #Add tuples
test_score

(68, 96, 71, 92, 87, 83)

In [101]:
country_list_1 = ['USA','UK','China','Brazil','Maxico']     #Create lists
country_list_2 = ['Australia','Spain','Italy']

In [102]:
country_list_final = country_list_1 + country_list_2
country_list_final

['USA', 'UK', 'China', 'Brazil', 'Maxico', 'Australia', 'Spain', 'Italy']

In [103]:
first_name = 'George'
last_name = 'Washington'       #Create string

In [104]:
full_name = first_name+' '+last_name      #Concatenate strings
full_name

'George Washington'

### Basic Operator: *

The _multiplication_ operator produces a new tuple, list, or string that repeats the original content.

The * operator does not actually multiply the values; it only repeats the values for the specified number of times.

In [105]:
age = (12,17,9)*3    #* operator with tuple
age

(12, 17, 9, 12, 17, 9, 12, 17, 9)

In [106]:
ID = [101,23,77,45]*2       #* operator with list
ID

[101, 23, 77, 45, 101, 23, 77, 45]

In [107]:
name = 'friend'*3         #* operator with string
name

'friendfriendfriend'

# Functions:
### Considerations

In [108]:
def my_fisr_function(name):
    return name
print(my_fisr_function('Jack'))

Jack

### Functions: Returning Values

can use a function to return a single value or multiple values.

In [111]:
def add_two_numbers(num1, num2):         #Create function
    return num1+num2
number1 = 23
number2 = 47.5
result = add_two_numbers(number1,number2)       #Call function
result

70.5

In [113]:
def profile():         #Create function
    age = 21
    height = 5.5
    weight = 130
    return age,height,weight       #Multiple return
age,height,weight = profile()      #Call function

In [114]:
print(age,height,weight)

21 5.5 130

### Built-in Sequence Functions: _enumerate_

In [115]:
store_list = ['McDonnald','Taco Bell','Dunkin','Wendys','Chipotle']     #List of food stores

In [116]:
for position,name in enumerate(store_list):
    print(position, name)     #Print data element and index using enumerate method

0 McDonnald
1 Taco Bell
2 Dunkin
3 Wendys
4 Chipotle

In [117]:
store_map = dict((name,position) for position,name in enumerate(store_list))
#Create a data element and index map using dict

In [118]:
store_map     #View the store map in the form of key-value pair

{'McDonnald': 0, 'Taco Bell': 1, 'Dunkin': 2, 'Wendys': 3, 'Chipotle': 4}

### Built-in Sequence Functions: _sorted_

In [119]:
sorted([91,43,65,56,7,33,21])     #Sort numbers

[7, 21, 33, 43, 56, 65, 91]

In [120]:
sorted('the data science')      #SOrt a string value

[' ',
 ' ',
 'a',
 'a',
 'c',
 'c',
 'd',
 'e',
 'e',
 'e',
 'h',
 'i',
 'n',
 's',
 't',
 't']

### Built-in Sequence Functions: _reversed and zip_

In [128]:
num_list = range(15)       #Create a list of numbers for range 15

In [129]:
list(reversed(num_list))      #Use reversed function to reverse the order

[14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [130]:
subjects = ['Math','Statistics','Algebra']   #Zip function to pair the data elements of lists
subject_count = ['one','two','three']

In [133]:
total_subject = zip(subjects,subject_count)
print(total_subject)

<zip object at 0x000001562BEEDC48>

## Control Flow Statements: _if, elif, else_

The if, elif, and else statements are the most commonly used control flow statements.

In [134]:
age = 21

In [135]:
if age<18:
    print('Minor')
else:
    print('Adult')

Adult

In [136]:
marks = 81

In [137]:
#Nested if,elif, and else

if marks>90:
    print('Grade A')
elif 80<=marks<=90:
    print('Grade B')
elif 70<=marks<=80:
    print('Grade C')
elif 60<=marks<=70:
    print('Geade D')
else:
    print('Grade F')

Grade B

### Control Flow Statements : _for Loops_

A _for loop_ is used to iterate over a collection (like a list or tuple) or an iterator.

In [138]:
stock_tickers = ['AAPL','MSFT','GOOGL',None,'AMZN','CSCO','ORCL']

In [152]:
for tickers in (stock_tickers):
    if(tickers is None):
        continue
    print(tickers)

AAPL
MSFT
GOOGL
AMZN
CSCO
ORCL

In [149]:
for tickers in (stock_tickers):
    if(tickers is None):
        break
    print(tickers)

AAPL
MSFT
GOOGL

### Control Flow Statements : _while Loops_

A _while loop_ specifies a condition and a block of code that is to be executed until the condition evaluates to False or the loop is explicitly ended with break.

In [151]:
temperature = 100
while temperature > 95:
    print(temperature)
    temperature = temperature - 1

100
99
98
97
96

### Control Flow Statements : _Exception Handling_

Handling Python errors or exceptions gracefully is an important part of building robust programs and algorithms.

In [153]:
#Create function

def test_float(number):
    return float(number)

In [154]:
test_float(7.32453)

7.32453

In [155]:
test_float('test float')     #Pass wrong argument type

ValueError: could not convert string to float: 'test float'

In [156]:
#Exception handling with try–except block

def test_float(number):
    try:
        return float(number)
    except ValueError:
        return 'not a number, the input value is',number

In [157]:
test_float('test')

('not a number, the input value is', 'test')