## Practice_Pandas_View_and_Select_Data

In [1]:
#import libraies

import numpy as np
import pandas as pd

In [2]:
#create dataframe from dict of series for summer olympics: 1996 to 2012

olympic_series_participation = pd.Series([205,204,201,200,197],
                                         index=[2012,2008,2004,2000,1996])
olympic_series_country = pd.Series(['London','Beijing','Athens','Sydney','Atlanta'],
                                   index=[2012,2008,2004,2000,1996])
df_olympic_series = pd.DataFrame({'No. of Patricipating Countries':olympic_series_participation,
                                 'Host Cities':olympic_series_country})

In [3]:
#display content of the dataset

df_olympic_series

      No. of Patricipating Countries Host Cities
2012                             205      London
2008                             204     Beijing
2004                             201      Athens
2000                             200      Sydney
1996                             197     Atlanta

In [4]:
#view dataframe describe

df_olympic_series.describe

<bound method NDFrame.describe of       No. of Patricipating Countries Host Cities
2012                             205      London
2008                             204     Beijing
2004                             201      Athens
2000                             200      Sydney
1996                             197     Atlanta>

In [5]:
#view top 2 records

df_olympic_series.head(2)

      No. of Patricipating Countries Host Cities
2012                             205      London
2008                             204     Beijing

In [6]:
#view last 3 records

df_olympic_series.tail(3)

      No. of Patricipating Countries Host Cities
2004                             201      Athens
2000                             200      Sydney
1996                             197     Atlanta

In [7]:
#view index of dataset

df_olympic_series.index

Int64Index([2012, 2008, 2004, 2000, 1996], dtype='int64')

In [8]:
#view columns of the dataset

df_olympic_series.columns

Index(['No. of Patricipating Countries', 'Host Cities'], dtype='object')

##### Select Data

In [9]:
#select data for Host Cities

df_olympic_series['Host Cities']

2012     London
2008    Beijing
2004     Athens
2000     Sydney
1996    Atlanta
Name: Host Cities, dtype: object

In [10]:
#Another data selection, No. of participating Countries

df_olympic_series['No. of Patricipating Countries']

2012    205
2008    204
2004    201
2000    200
1996    197
Name: No. of Patricipating Countries, dtype: int64

In [11]:
#select Lable-Location based access by Label

df_olympic_series.loc[2012]

No. of Patricipating Countries       205
Host Cities                       London
Name: 2012, dtype: object

In [12]:
#Integer-Location based indexing by position

df_olympic_series.iloc[0:2]

      No. of Patricipating Countries Host Cities
2012                             205      London
2008                             204     Beijing

In [13]:
#Integer-Location based data science by index value

df_olympic_series.iat[3,1]

'Sydney'

In [14]:
#Select data element by condition where number of participated countries are more that 200
#hint - use boolean expression

df_olympic_series[df_olympic_series['No. of Patricipating Countries']>200]

      No. of Patricipating Countries Host Cities
2012                             205      London
2008                             204     Beijing
2004                             201      Athens