# Practice_Pandas_SQL_Operation

In [1]:
#import required libraries

import pandas as pd

In [2]:
#import sqllite

import sqlite3

In [3]:
#create SQL table

create_table = """
CREATE TABLE student_score
(Id INTEGER, Name VARCHAR(20),Math REAL,
Science REAL);
"""

In [4]:
#execute the SQL statement

executeSQL = sqlite3.connect(':memory:')
executeSQL.execute(create_table)
executeSQL.commit()

In [5]:
#prepare a SQL query

SQL_query = executeSQL.execute('select * from student_score')

In [6]:
#fetch result from the SQLlite database

resulset = SQL_query.fetchall()

In [7]:
#view result empty data
resulset

[]

In [8]:
#prepare records to be inserted into SQL table through SQL statemnt

insertSQL = [(10,'Jack',85,92),
            (29,'Tom',73,89),
            (65,'Ram',65.5,77),
            (5,'Steve',55,91)]

In [9]:
#insert records into SQL table through SQL statement

insert_statement = "Insert into student_score values(?,?,?,?)"
executeSQL.executemany(insert_statement,insertSQL)
executeSQL.commit()

In [10]:
#prepare SQL query

SQL_query = executeSQL.execute("select * from student_score")

In [11]:
#fetch the resltset for the query

resulset = SQL_query.fetchall()

In [12]:
#view the resulset

resulset

[(10, 'Jack', 85.0, 92.0),
 (29, 'Tom', 73.0, 89.0),
 (65, 'Ram', 65.5, 77.0),
 (5, 'Steve', 55.0, 91.0)]

In [15]:
#put the records together in dataframe

df_student_records = pd.DataFrame(resulset,columns=zip(*SQL_query.description)[0])

TypeError: 'zip' object is not subscriptable

In [14]:
df_student_records

NameError: name 'df_student_records' is not defined