## Python ML - Linear Regression

In [1]:
#import required libraies

import numpy as np
import pandas as pd

In [4]:
#import the boston dataset

from sklearn.datasets import load_boston
boston_dataset = load_boston()

In [6]:
#create a pandas dataframe and store the data

df_boston = pd.DataFrame(boston_dataset.data)
df_boston.columns = boston_dataset.feature_names

In [7]:
#append price, target, as a new column to the dataset

df_boston['Price'] = boston_dataset.target

In [8]:
#print top 5 observation

df_boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [9]:
#assign features in x-axis

x_features = boston_dataset.data

In [10]:
#assign targets on y-axis

y_target = boston_dataset.target

In [11]:
#import linear model - the estimator

from sklearn.linear_model import LinearRegression
lineReg = LinearRegression()

In [12]:
#fit data into the estimator

lineReg.fit(x_features,y_target)

LinearRegression()

In [16]:
#print the intercept

print ('the estimated intercept %.2f'%lineReg.intercept_)  #%.2f used to round off decimal numbers to two decimal places

the estimated intercept 36.46

In [18]:
#print the coefficient

print('the coefficient is %d'%len(lineReg.coef_))

the coefficient is 13

In [26]:
#train model split the whole dataset into train and test dataset

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_features,y_target)

In [27]:
#print the dataset shape

print (boston_dataset.data.shape)

(506, 13)

In [29]:
#print shape of the training and testing data sets

print (x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(379, 13) (127, 13) (379,) (127,)

In [30]:
#fit the training sets into the model

lineReg.fit(x_train,y_train)

LinearRegression()

In [31]:
#the mean square error (MSE) or resudual sum of squares

print('MSE value is %.2f'%np.mean(lineReg.predict(x_test)-y_test)**2)

MSE value is 0.57

In [32]:
#calculate variance

print('Variance score is %.2f'%lineReg.score(x_test,y_test))

Variance score is 0.77